<div>
  <h6 style="color: red">{{ infoMsg }}</h6>
</div>
<div style="width: 100%; text-align: center">
  <h1>Sites</h1>
</div>
<!-- Loader -->
<div *ngIf="progressLoader" class="loader">
  <div class="spinner"></div>
</div>
  <syncfusion-worldmap></syncfusion-worldmap><br />
<div *ngIf="!progressLoader">
  <div class="tablegrid" style="width: 100%; height: 100%">
    <ejs-grid
      #sitegrid
      id="sitegrid"
      gridLines="Horizontal"
      [dataSource]="sites"
      allowSorting="true"
      allowPaging="true"
      allowTextWrap="true"
      [height]="520"
      [pageSettings]="pageSettings"
      [toolbar]="toolbar"
      [editSettings]="editSettings"
      [selectionSettings]="selectionOptions"
      [allowSelection]="true"
      [contextMenuItems]="contextMenuItems"
      (actionComplete)="actionComplete($event)"
      (rowSelected)="rowSelected($event)"
    >
      <e-columns>
        <e-column
          field="labelname"
          headerText="Site Name"
          width="120"
          textAlign="Left"
          isPrimaryKey="true"
          [validationRules]="orderidrules"
        ></e-column>
        <e-column field="id" headerText="ID" width="120" textAlign="Left" [visible]="false"></e-column>
        <e-column field="latitude" headerText="Latitude" width="120" textAlign="Left" [validationRules]="orderidrules"></e-column>
        <e-column field="longitude" headerText="Longitude" width="150" textAlign="Left" [validationRules]="orderidrules"></e-column>
        <e-column field="comment" headerText="Comment" width="150" textAlign="Left"></e-column>
        <e-column field="streetnumber" headerText="Street Number" width="120" textAlign="Left" [visible]="false"></e-column>
        <e-column field="city" headerText="city" width="100" textAlign="Left" [visible]="false"></e-column>
        <e-column field="zipcode" headerText="Zipcode" width="100" textAlign="Left" [visible]="false"></e-column>
        <e-column field="businessowner" headerText="Buisness Owner" width="100" textAlign="Left" [visible]="false"></e-column>
        <e-column field="leasedcompany" headerText="Leased Company" width="100" textAlign="Left" [visible]="false"></e-column>
      </e-columns>
    </ejs-grid>
  </div>
</div>
