<div class="container py-4">
  <h1 align="center" id="title">Contact Details</h1>
  <br />
  <div class="row" align="center" id="contacts">
    <div class="col-lg-3" align="center">
      <img class="header-image" src="/content/images/nz.svg" alt="NZ Flag" />
      <h4>New Zealand</h4>
      <br />
      <dl>
        <dt>Phone Number</dt>
        <dd>
          NZ Toll-Free ({{ contacts.NZHQ }})<br />
          NZ Backup ({{ contacts.NZB }})
        </dd>
      </dl>
      <button class="btn btn-primary" (click)="copy(contacts.NZHQ)"><i class="fa fa-clipboard"></i> Copy to Clipboard</button>
    </div>

    <div class="col-lg-3">
      <img class="header-image" src="/content/images/au.svg" alt="AU Flag" />
      <h4>Australia</h4>
      <br />
      <dl>
        <dt>Phone Number</dt>
        <dd>
          Australia Toll-Free ({{ contacts.AUSY }})<br />
          Australia Backup ({{ contacts.AUSB }})
        </dd>
      </dl>
      <button class="btn btn-primary" (click)="copy(contacts.AUSY)"><i class="fa fa-clipboard"></i> Copy to Clipboard</button>
    </div>

    <div class="col-lg-3">
      <img class="header-image" src="/content/images/us.svg" alt="US Flag" />
      <h4>USA</h4>
      <br />
      <dl>
        <dt>Phone Number</dt>
        <dd>USA Toll-Free ({{ contacts.USA }})</dd>
      </dl>
      <button class="btn btn-primary" (click)="copy(contacts.USA)"><i class="fa fa-clipboard"></i> Copy to Clipboard</button>
    </div>

    <div class="col-lg-3">
      <img class="header-image" src="/content/images/id.svg" alt="US Flag" />
      <h4>Indonesia</h4>
      <br />
      <dl>
        <dt>Phone Number</dt>
        <dd>Indonesia Toll-Free ({{ contacts.INDOFREE }})</dd>
        <dd>Indonesia Local ({{ contacts.INDO }})</dd>
      </dl>
      <button class="btn btn-primary" (click)="copy(contacts.INDOFREE)"><i class="fa fa-clipboard"></i> Copy to Clipboard</button>
    </div>
  </div>
</div>

<div class="container py-4" *jhiHasAnyAuthority="'ROLE_USER'">
  <br />
  <h1 align="center" id="titleEscalation">Escalation Details</h1>
  <br />

  <div class="row" align="center" id="escalation">
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <th>Names</th>
          <th>Role</th>
          <th>Telephone Numbers</th>
          <th>Email</th>
          <th></th>
        </thead>
        <tbody>
          <tr>
            <td>Worldwide Access Number</td>
            <td>Hawaiki NOC</td>
            <td>
              {{ contacts.NZHQ_OUTSIDE }}
            </td>
            <td>{{ contacts.SUPPORTMAIL }}</td>
          </tr>
          <tr>
            <td>Thasa Balasubramaniam</td>
            <td>Head of Provisioning & Service Delivery</td>
            <td>
              {{ contacts.THASA }}
            </td>
            <td>
              {{ contacts.THASAMAIL }}
            </td>
          </tr>
          <tr>
            <td>Graham Bruce</td>
            <td>Director Operations</td>
            <td>{{ contacts.GRAHAM }}<br /></td>
            <td>{{ contacts.GRAHAMMAIL }}</td>
          </tr>
          <tr>
            <td>David Slessor</td>
            <td>Project Director Terrestrial Network & Hawaii</td>
            <td>{{ contacts.DAVID }}<br /></td>
            <td>{{ contacts.DAVIDMAIL }}</td>
          </tr>
          <tr>
            <td>Florent Blot</td>
            <td>Chief Business Officer Datacentres & VAS</td>
            <td>{{ contacts.FLORENT }}<br /></td>
            <td>{{ contacts.FLORENTMAIL }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
