<h6 style="color: red">{{ infoMsg }}</h6>
<h6 style="text-align: center">DAC Details</h6>

<!-- Loader -->
<div *ngIf="progressLoader" class="loader">
  <div class="spinner"></div>
</div>
<div *ngIf="!progressLoader" class="control-section">

  <div  class="row">
    <div class="col-xs-12 col-sm-12 col-lg-6 col-md-6">
      <button #contractBtn ejs-progressbutton id="contract" content="Expand Columns" [enableProgress]="true" cssClass="e-success" (end)="slide()"></button>
    </div>
  </div>
  <ejs-grid #daggrid id='Grid' [allowTextWrap]='true'
            [allowSelection]='true'   [allowSorting]='true'
            [toolbar]="toolbarOptions"  [allowResizing]= 'true' [showColumnMenu]='true' [filterSettings]='filterSettings'
            [allowExcelExport]='true' [allowPdfExport]='true' gridLines="Both" showHider='true' width='100%' height="395"
            [allowFiltering]='true'  [allowGrouping]='true'   [groupSettings]='groupOptions'
            [allowReordering]='true' [showColumnChooser]='true'   [contextMenuItems]="contextMenuItems"
            [dataSource]='data' [allowPaging]="true" [pageSettings]="pageOptions" (toolbarClick)='clickHandler($event)'
            [selectionSettings]="selectionOptions"  [columnMenuItems]='columnMenuItems'
            [editSettings]='editSettings' (actionComplete)='actionComplete($event)'

  >


    <e-columns>
      <e-column headerText='From'  width="1000" autoFit="true"  [customAttributes]='fromAttributes'[columns]='fromcolumns'></e-column>
      <e-column field='' headerText='' width='40' autoFit="true" >
        <ng-template #template let-data>
          <div class="loc">
            <img  src="../../../content/images/right-arrow-icon.png" class="e-image" />
          </div>
        </ng-template>
      </e-column>
      <e-column headerText='To'  autoFit="true"  [customAttributes]='toAttributes' width="1000" [columns]='tocolumns'></e-column>
    </e-columns>

  </ejs-grid>

</div>
