<div class="container py-4">
  <b>{{ infoMsg }}</b>

  <div align="center">
    <h3><b>Create New Entry</b></h3>
  </div>
</div>

<div class="container py-4">
  <form #entityForm="ngForm" (ngSubmit)="new()">
    <label class="form-control-label" for="field_name"
      ><b>Name</b> <span class="text-danger" *ngIf="name.invalid && name.touched"> * required field </span></label
    >
    <input type="text" name="name" [(ngModel)]="entity.name" required #name="ngModel" class="form-control mb-1" /><br />

    <label class="form-control-label" for="field_shortName"
      ><b>Short Name</b> <span class="text-danger" *ngIf="shortName.invalid && shortName.touched"> * required field </span></label
    >
    <input type="text" name="shortName" [(ngModel)]="entity.shortName" required #shortName="ngModel" class="form-control mb-1" /><br />

    <label class="form-control-label" for="field_contact"
      ><b>Contact</b> <span class="text-danger" *ngIf="contact.invalid && contact.touched"> * required field </span></label
    >
    <input type="text" name="contact" [(ngModel)]="entity.contact" required #contact="ngModel" class="form-control mb-1" /><br />

    <label class="form-control-label" for="field_address"
      ><b>Address</b> <span class="text-danger" *ngIf="address.invalid && address.touched"> * required field </span></label
    >
    <input type="text" name="address" [(ngModel)]="entity.address" required #address="ngModel" class="form-control mb-1" /><br />

    <label class="form-control-label" for="field_active"
      ><b>Active</b> <span class="text-danger" *ngIf="active.invalid && active.touched"> * required field </span></label
    >
    <select name="active" [(ngModel)]="entity.active" required #active="ngModel" class="form-control mb-1">
      <option value="1">True</option>
      <option value="0">False</option></select
    ><br />

    <!-- SUBMIT BUTTON -->
    <button type="submit" class="btn btn-primary" [disabled]="entityForm.invalid">Create</button>
    <button type="button" class="btn btn-secondary" [routerLink]="['/services/entity']">Back</button>
  </form>
</div>
