<div class="container py-5">
  <div class="d-flex justify-content-center">
    <div class="col-lg-8 col-xl-7">
      <div class="card shadow-sm border-1 rounded">
        <div class="card-body p-4">
          <h2 id="myUserLabel" class="fw-bold mb-4 text-center" jhiTranslate="userManagement.home.createOrEditLabel">
            Create or edit a user
          </h2>

          <jhi-alert-error />

          <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <div class="mb-3" [hidden]="!editForm.value.id">
              <label class="form-label fw-semibold" for="field_id" jhiTranslate="global.field.id">ID</label>
              <input
                type="text"
                id="field_id"
                class="form-control text-muted"
                style="background-color: #e6eaef"
                formControlName="id"
                readonly
              />
            </div>

            <div class="mb-3">
              <label class="form-label fw-semibold" for="field_login" jhiTranslate="userManagement.login">Login</label>
              <input type="text" id="field_login" class="form-control" formControlName="login" />

              @let loginRef = editForm.get('login')!;
              @if (loginRef.invalid && (loginRef.dirty || loginRef.touched)) {
                <div class="mt-1">
                  @if (loginRef?.errors?.required) {
                    <small class="text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
                  }
                  @if (loginRef?.errors?.maxlength) {
                    <small class="text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '50' }"></small>
                  }
                  @if (loginRef?.errors?.pattern) {
                    <small class="text-danger" jhiTranslate="entity.validation.patternLogin"></small>
                  }
                </div>
              }
            </div>

            <div class="mb-3">
              <label class="form-label fw-semibold" for="field_firstName" jhiTranslate="userManagement.firstName">First name</label>
              <input type="text" id="field_firstName" class="form-control" formControlName="firstName" />

              @let firstNameRef = editForm.get('firstName')!;
              @if (firstNameRef.invalid && (firstNameRef.dirty || firstNameRef.touched)) {
                <div class="mt-1">
                  @if (firstNameRef?.errors?.maxlength) {
                    <small class="text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '50' }"></small>
                  }
                </div>
              }
            </div>

            <div class="mb-3">
              <label class="form-label fw-semibold" for="field_lastName" jhiTranslate="userManagement.lastName">Last name</label>
              <input type="text" id="field_lastName" class="form-control" formControlName="lastName" />

              @let lastNameRef = editForm.get('lastName')!;
              @if (lastNameRef.invalid && (lastNameRef.dirty || lastNameRef.touched)) {
                <div class="mt-1">
                  @if (lastNameRef?.errors?.maxlength) {
                    <small class="text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '50' }"></small>
                  }
                </div>
              }
            </div>

            <div class="mb-3">
              <label class="form-label fw-semibold" for="field_email" jhiTranslate="userManagement.email">Email</label>
              <input type="email" id="field_email" class="form-control" formControlName="email" />

              @let emailRef = editForm.get('email')!;
              @if (emailRef.invalid && (emailRef.dirty || emailRef.touched)) {
                <div class="mt-1">
                  @if (emailRef?.errors?.required) {
                    <small class="text-danger" jhiTranslate="entity.validation.required"></small>
                  }
                  @if (emailRef?.errors?.email) {
                    <small class="text-danger" jhiTranslate="global.messages.validate.email.invalid"></small>
                  }
                </div>
              }
            </div>

            <div class="form-check form-switch mb-3">
              <input
                class="form-check-input"
                type="checkbox"
                id="activated"
                formControlName="activated"
                [attr.disabled]="editForm.value.id === undefined ? 'disabled' : null"
              />
              <label class="form-check-label fw-semibold" for="activated" jhiTranslate="userManagement.activated"> Activated </label>
            </div>

            @if (languages && languages.length > 0) {
              <div class="mb-3">
                <label class="form-label fw-semibold" for="langKey" jhiTranslate="userManagement.langKey">Language</label>
                <select class="form-select" id="langKey" formControlName="langKey">
                  @for (language of languages; track $index) {
                    <option [value]="language">{{ language | findLanguageFromKey }}</option>
                  }
                </select>
              </div>
            }

            <div class="mb-4">
              <label class="form-label fw-semibold" for="field_authority" jhiTranslate="userManagement.profiles">Profiles</label>
              <select class="form-select" id="field_authority" multiple formControlName="authorities">
                @for (authority of authorities(); track $index) {
                  <option [value]="authority">{{ authority }}</option>
                }
              </select>
            </div>

            <div class="d-flex justify-content-end gap-2">
              <button type="button" class="btn btn-outline-secondary d-flex align-items-center" (click)="previousState()">
                <fa-icon icon="ban" class="me-1"></fa-icon>
                <span jhiTranslate="entity.action.cancel">Cancel</span>
              </button>

              <button type="submit" [disabled]="editForm.invalid || isSaving()" class="btn btn-primary d-flex align-items-center shadow-sm">
                <fa-icon icon="save" class="me-1"></fa-icon>
                <span jhiTranslate="entity.action.save">Save</span>
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
