/* You can add global styles to this file, and also import other style files */
@import '@syncfusion/ej2-base/styles/material.css';
@import '@syncfusion/ej2-inputs/styles/material.css';
@import '@syncfusion/ej2-navigations/styles/material.css';
@import '@syncfusion/ej2-popups/styles/material.css';
@import '@syncfusion/ej2-buttons/styles/material.css';
@import '@syncfusion/ej2-interactive-chat/styles/material.css';
@import '@syncfusion/ej2-splitbuttons/styles/material.css';
@import '@syncfusion/ej2-pivotview/styles/material.css';

//custom settings for world map 'markerSettings' with blinking effect
//*******************************************************************//
.blinking-marker {
  background: black;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  animation: blink 1s infinite;
  position: absolute;
  transform: translate(-50%, -50%);
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
//*******************************************************************//
