<div class="container py-4">
  <b>{{ infoMsg }}</b>

  <div align="center">
    <h3><b>Customer User</b></h3>
  </div>
</div>

<div class="container py-4">
  <input type="text" placeholder="Search by ..." [(ngModel)]="searchTerm" class="form-control me-2" />
  <button class="btn btn-primary" (click)="doSearch()">Search</button>
  <button class="btn btn-secondary ms-2" (click)="resetSearch()">Reset</button>
</div>

<!-- Loader -->
<div *ngIf="progressLoader" class="loader">
  <div class="spinner"></div>
</div>

<div class="container py-4" *ngIf="!progressLoader">
  <table class="table table-striped">
    <thead>
      <tr>
        <th [hidden]="true">ID</th>
        <th (click)="sort('user')">
          User
          <span *ngIf="sortColumn === 'user'">
            {{ sortDirection === 'asc' ? '▲' : '▼' }}
          </span>
        </th>
        <th (click)="sort('name')">
          Name
          <span *ngIf="sortColumn === 'name'">
            {{ sortDirection === 'asc' ? '▲' : '▼' }}
          </span>
        </th>
        <th (click)="sort('shortName')">
          Short Name
          <span *ngIf="sortColumn === 'shortName'">
            {{ sortDirection === 'asc' ? '▲' : '▼' }}
          </span>
        </th>
        <th>Contact</th>
        <th>Address</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let customer of pagedData">
        <td [hidden]="true">{{ customer.id }}</td>
        <td>{{ customer.user }}</td>
        <td>{{ customer.name }}</td>
        <td>{{ customer.shortName }}</td>
        <td>{{ customer.contact }}</td>
        <td>{{ customer.address }}</td>
        <td>
          <button class="btn btn-info btn-sm" [routerLink]="['../customer/e/id', customer.id]">
            <span class="d-none d-md-inline">Edit</span>
          </button>
          <button class="btn btn-info btn-sm" [routerLink]="['../customer/d/id', customer.id]">
            <span class="d-none d-md-inline">Delete</span>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <ejs-pager [pageSize]="pageSize" [totalRecordsCount]="totalRecords" [pageCount]="5" (click)="pageChanged($event)"> </ejs-pager>
  <div align="left">
    <button class="btn btn-primary" [routerLink]="['../customer/c']">Create New Entry</button>
  </div>
</div>
