<div class="container py-4">
  <b>{{ infoMsg }}</b>

  <div align="center">
    <h3><b>Delete Entry</b></h3>
  </div>
</div>

<div class="container py-4">
  <form #customerForm="ngForm" (ngSubmit)="delete()">
    <label class="form-control-label" for="field_user"><b>User</b> </label>
    <input type="text" name="user" [(ngModel)]="customer.user" class="form-control mb-1" readonly /><br />

    <label class="form-control-label" for="field_name"><b>Customer Name</b> </label>
    <input type="text" name="name" [(ngModel)]="customer.name" class="form-control mb-1" readonly /><br />

    <label class="form-control-label" for="field_shortName"><b>Short Name</b> </label>
    <input type="text" name="shortName" [(ngModel)]="customer.shortName" class="form-control mb-1" readonly /><br />

    <label class="form-control-label" for="field_contact"><b>Contact</b> </label>
    <input type="text" name="contact" [(ngModel)]="customer.contact" class="form-control mb-1" readonly /><br />

    <label class="form-control-label" for="field_address"><b>Address</b> </label>
    <input type="text" name="address" [(ngModel)]="customer.address" class="form-control mb-1" readonly /><br />

    <!-- SUBMIT BUTTON -->
    <button type="submit" class="btn btn-primary" [disabled]="customerForm.invalid">Delete</button>
    <button type="button" class="btn btn-secondary" [routerLink]="['/services/customer']">Back</button>
  </form>
</div>
