<h6 style="color: red">{{ infoMsg }}</h6>
<h6 style="text-align: center">Client Port Details</h6>

<!-- Loader -->
<div *ngIf="progressLoader" class="loader">
  <div class="spinner"></div>
</div>
<div *ngIf="!progressLoader" class="control-section" id="CorelationGrid">
  <div class="popup-control-section"  hidden='visible'>
    <ejs-dialog  [allowDragging]='true'   id="defaultDialog" [header]='dialogHeader' [isModal]='isModal' [buttons]='defaultDlgButtons' #defaultDialog [visible]='visible'  [animationSettings]='animationSettings' [showCloseIcon]='dialogCloseIcon' [target]='target'
                 [width]='dialogWidth' >
      <ng-template #content>
        <div  >
          <!--                <span class="helpimage"></span>-->
          <img  src="../../../content/images/nrms_help.png" />
        </div>
      </ng-template>
    </ejs-dialog>
  </div>
  <div  class="row">
    <div class="col-xs-12 col-sm-12 col-lg-6 col-md-6">
      <button #contractBtn ejs-progressbutton id="contract" content="Toggle Columns" [enableProgress]="true" cssClass="e-success" (end)="slide()"></button>
    </div>
  </div>
  <ejs-grid id='overviewgrid1'  #overviewgrid1  [allowSelection]='true'  [allowSorting]='true'
            [toolbar]="toolbar"  allowResizing= 'true' showColumnMenu='true' [filterSettings]='filterSettings'
            [allowExcelExport]='true' [allowPdfExport]='true' gridLines="Both" showHider='true' rowHeight='38' width="auto" height="395"
            [allowFiltering]='true'  [allowGrouping]='true'   [groupSettings]='groupOptions'
            [allowReordering]='true' [showColumnChooser]='true'   [contextMenuItems]="contextMenuItems"
            [dataSource]='data' [allowPaging]="true" [pageSettings]="pageOptions" (toolbarClick)='clickHandler($event)'
            [selectionSettings]="selectionOptions" (toolbarClick)='toolbarClick($event)'  [columnMenuItems]='columnMenuItems'
  >
    <e-columns>
      <e-column headerText='Network Details'  [customAttributes]='customNetworkAttributes'  width="2000" [columns]='genericColumns'></e-column>
      <e-column headerText='Client Port Details' [customAttributes]='customPortAttributes'   width="1500" [columns]='portColumns'></e-column>
      <e-column field='' headerText='' width='40' autoFit="true" >
        <ng-template #template let-data>
          <div class="loc">
            <img  src="../../../content/images/right-arrow-icon.png" class="e-image" />
          </div>
        </ng-template>
      </e-column>
      <e-column headerText='Client Port Comments/Passthrough/Backhauls' [customAttributes]='customPortAttributes'   width="1500" [columns]='passthroughportColumns'></e-column>
      <e-column field='' headerText='' width='40' autoFit="true" >
        <ng-template #template let-data>
          <div class="loc">
            <img  src="../../../content/images/right-arrow-icon.png" class="e-image" />
          </div>
        </ng-template>
      </e-column>
      <e-column headerText='LSI Port Details'  [customAttributes]='odfCustomAttributes'  width="1500" [columns]='lsiODFColumns' ></e-column>
      <e-column field='' headerText='' width='40' autoFit="true" >
        <ng-template #template let-data>
          <div class="loc">
            <img  src="../../../content/images/right-arrow-icon.png" class="e-image" />
          </div>
        </ng-template>
      </e-column>
      <e-column headerText='Patch ODF Port Details'  [customAttributes]='patchCustomAttributes'  width="1500" [columns]='patchColumns'></e-column>
      <e-column field='' headerText='' width='40' autoFit="true" >
        <ng-template #template let-data>
          <div class="loc">
            <img  src="../../../content/images/right-arrow-icon.png" class="e-image" />
          </div>
        </ng-template>
      </e-column>
      <e-column headerText='Patch MMR Port Details'  [customAttributes]='mmrCustomAttributes'   width="1500" [columns]='patchColumns1'></e-column>
    </e-columns>
  </ejs-grid>
</div>
