<div class="container py-5" style="max-width: 1500px">
  <div class="d-flex justify-content-between align-items-center mb-4 flex-wrap">
    <h2 id="user-management-page-heading" data-cy="userManagementPageHeading" class="mb-2 mb-md-0 fw-bold">
      <span jhiTranslate="userManagement.home.title">Users</span>
    </h2>

    <div class="d-flex flex-wrap gap-2">
      <button class="btn btn-info d-flex align-items-center shadow-sm" (click)="loadAll()" [disabled]="isLoading()">
        <fa-icon icon="sync" [animation]="isLoading() ? 'spin' : undefined" class="me-2"></fa-icon>
        <span jhiTranslate="userManagement.home.refreshListLabel">Refresh list</span>
      </button>

      <button class="btn btn-primary d-flex align-items-center shadow-sm jh-create-entity" [routerLink]="['./new']">
        <fa-icon icon="plus" class="me-2"></fa-icon>
        <span jhiTranslate="userManagement.home.createLabel">Create a new user</span>
      </button>
    </div>
  </div>

  <jhi-alert-error />
  <jhi-alert />
  @if (!users()) {
    <div class="alert alert-warning shadow-sm rounded" id="no-result">
      <span jhiTranslate="userManagement.home.notFound">No users found</span>
    </div>
  } @else {
    <div class="table-responsive shadow-sm rounded border">
      <table class="table table-hover align-middle mb-0 w-100" aria-describedby="user-management-page-heading">
        <thead class="table-light">
          <tr jhiSort [(sortState)]="sortState" (sortChange)="transition($event)">
            <th scope="col" jhiSortBy="id" class="fw-semibold">
              <span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon>
            </th>
            <th scope="col" jhiSortBy="login" class="fw-semibold">
              <span jhiTranslate="userManagement.login">Login</span> <fa-icon icon="sort"></fa-icon>
            </th>
            <th scope="col" jhiSortBy="email" class="fw-semibold">
              <span jhiTranslate="userManagement.email">Email</span> <fa-icon icon="sort"></fa-icon>
            </th>
            <th scope="col" class="fw-semibold"></th>
            <th scope="col" jhiSortBy="langKey" class="fw-semibold">
              <span jhiTranslate="userManagement.langKey">Language</span> <fa-icon icon="sort"></fa-icon>
            </th>
            <th scope="col" class="fw-semibold">
              <span jhiTranslate="userManagement.profiles">Profiles</span>
            </th>
            <th scope="col" jhiSortBy="createdDate" class="fw-semibold">
              <span jhiTranslate="userManagement.createdDate">Created date</span> <fa-icon icon="sort"></fa-icon>
            </th>
            <th scope="col" jhiSortBy="lastModifiedBy" class="fw-semibold">
              <span jhiTranslate="userManagement.lastModifiedBy">Modified by</span> <fa-icon icon="sort"></fa-icon>
            </th>
            <th scope="col" jhiSortBy="lastModifiedDate" class="fw-semibold">
              <span jhiTranslate="userManagement.lastModifiedDate">Modified date</span> <fa-icon icon="sort"></fa-icon>
            </th>
            <th scope="col" class="fw-semibold"></th>
          </tr>
        </thead>
        <tbody>
          @for (user of users(); track trackIdentity(user)) {
            <tr>
              <td class="align-top">
                <a [routerLink]="['./', user.login, 'view']">{{ user.id }}</a>
              </td>
              <td class="align-top">{{ user.login }}</td>
              <td class="align-top">{{ user.email }}</td>
              <td class="align-top">
                @if (!user.activated) {
                  <button class="btn btn-danger btn-sm" (click)="setActive(user, true)" jhiTranslate="userManagement.deactivated">
                    Deactivated
                  </button>
                } @else {
                  <button
                    class="btn btn-success btn-sm"
                    (click)="setActive(user, false)"
                    [disabled]="!currentAccount() || currentAccount()?.login === user.login"
                    jhiTranslate="userManagement.activated"
                  >
                    Activated
                  </button>
                }
              </td>
              <td class="align-top">{{ user.langKey }}</td>
              <td class="align-top">
                @for (authority of user.authorities; track $index) {
                  <span class="badge bg-info me-1 mb-1 d-inline-block">{{ authority }}</span>
                }
              </td>
              <td class="align-top">{{ user.createdDate | date: 'dd/MM/yy HH:mm' }}</td>
              <td class="align-top">{{ user.lastModifiedBy }}</td>
              <td class="align-top">{{ user.lastModifiedDate | date: 'dd/MM/yy HH:mm' }}</td>
              <td class="text-end align-top" style="white-space: nowrap">
                <div class="d-flex justify-content-end gap-2">
                  <button type="submit" class="btn btn-info btn-sm d-flex align-items-center" (click)="viewUser(user)">
                    <fa-icon icon="eye" class="me-1"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </button>

                  <button
                    type="submit"
                    [routerLink]="['./', user.login, 'edit']"
                    queryParamsHandling="merge"
                    class="btn btn-primary btn-sm d-flex align-items-center"
                  >
                    <fa-icon icon="pencil-alt" class="me-1"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </button>

                  <button
                    type="button"
                    (click)="deleteUser(user)"
                    class="btn btn-danger btn-sm d-flex align-items-center"
                    [disabled]="!currentAccount() || currentAccount()?.login === user.login"
                  >
                    <fa-icon icon="times" class="me-1"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
    <div class="mt-3">
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page, totalItems: totalItems(), itemsPerPage }" />
      </div>

      <div class="d-flex justify-content-center mt-2">
        <ngb-pagination
          [collectionSize]="totalItems()"
          [(page)]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          [boundaryLinks]="true"
          (pageChange)="transition()"
        ></ngb-pagination>
      </div>
    </div>
  }
</div>

<ng-template #viewUserModal let-modal>
  <div class="modal-header">
    <h5 class="modal-title" jhiTranslate="userManagement.detail.title">User Details</h5>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
  </div>

  <div class="modal-body" *ngIf="selectedUser as userRef">
    <dl class="row jh-entity-details">
      <dt class="col-sm-4"><span jhiTranslate="userManagement.login">Login</span></dt>
      <dd class="col-sm-8">
        {{ userRef.login }}
        @if (userRef.activated) {
          <span class="badge bg-success" jhiTranslate="userManagement.activated">Activated</span>
        } @else {
          <span class="badge bg-danger" jhiTranslate="userManagement.deactivated">Deactivated</span>
        }
      </dd>

      <dt class="col-sm-4"><span jhiTranslate="userManagement.firstName">First name</span></dt>
      <dd class="col-sm-8">{{ userRef.firstName }}</dd>

      <dt class="col-sm-4"><span jhiTranslate="userManagement.lastName">Last name</span></dt>
      <dd class="col-sm-8">{{ userRef.lastName }}</dd>

      <dt class="col-sm-4"><span jhiTranslate="userManagement.email">Email</span></dt>
      <dd class="col-sm-8">{{ userRef.email }}</dd>

      <dt class="col-sm-4"><span jhiTranslate="userManagement.langKey">Language</span></dt>
      <dd class="col-sm-8">{{ userRef.langKey }}</dd>

      <dt class="col-sm-4"><span jhiTranslate="userManagement.createdBy">Created by</span></dt>
      <dd class="col-sm-8">{{ userRef.createdBy }}</dd>

      <dt class="col-sm-4"><span jhiTranslate="userManagement.createdDate">Created date</span></dt>
      <dd class="col-sm-8">{{ userRef.createdDate | date: 'dd/MM/yy HH:mm' }}</dd>

      <dt class="col-sm-4"><span jhiTranslate="userManagement.lastModifiedBy">Modified by</span></dt>
      <dd class="col-sm-8">{{ userRef.lastModifiedBy }}</dd>

      <dt class="col-sm-4"><span jhiTranslate="userManagement.lastModifiedDate">Modified date</span></dt>
      <dd class="col-sm-8">{{ userRef.lastModifiedDate | date: 'dd/MM/yy HH:mm' }}</dd>

      <dt class="col-sm-4"><span jhiTranslate="userManagement.profiles">Profiles</span></dt>
      <dd class="col-sm-8">
        <ul class="list-unstyled mb-0">
          @for (authority of userRef.authorities; track $index) {
            <li>
              <span class="badge bg-info">{{ authority }}</span>
            </li>
          }
        </ul>
      </dd>
    </dl>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modal.close()">
      <fa-icon icon="times" class="me-1"></fa-icon>
      <span jhiTranslate="entity.action.cancel">Close</span>
    </button>
  </div>
</ng-template>
