<div>
  <h2>
    <span>Timeline Events</span>
  </h2>
</div>
<div class="col-md-2">
  <button (click)="toolbarClick()" cssClass="e-info" ejs-button id='export'>Export</button>
</div>
<div hidden='true'>
  <ejs-grid #eventsGrid [allowExcelExport]='true' [dataSource]="timelines" gridLines="Both" id="eventsGrid">
    <e-columns>
      <e-column field='eventdate' format="dd-MMM-yy" headerText='Event Date' width='150'></e-column>
      <e-column field='feature' headerText='Feature' width='150'></e-column>
      <e-column field='operation' headerText='Operation' width='150'></e-column>
      <e-column field='login' headerText='User' width='150'></e-column>
      <e-column field='oldvalue' headerText='Old Value' width='500'></e-column>
      <e-column field='newvalue' headerText='New Value' width='500'></e-column>
    </e-columns>
  </ejs-grid>
</div>
<br/>

<ul id='timeline'>
  <li *ngFor="let timeline of timelines" class='entry'>
    <input checked='checked' class='radio' id='{{timeline.eventdate}}' name='trigger' type='radio'>
    <label for='{{timeline.eventdate}}'>
          <span>
            {{ timeline.operation }}D {{ timeline.feature }}
          </span>
    </label>
    <span class='date'>{{ datePipe.transform(timeline.eventdate, 'dd-MMM-yy hh:mm aa') }} </span>
    <span class='circle'></span>
    <div class='content'>
      <h3>{{ datePipe.transform(timeline.eventdate, 'dd-MMM-yy') }} : {{ timeline.operation }}D {{ timeline.feature }}
        By {{ timeline.login }}</h3>
      <p>
        Old Value: {{ timeline.oldvalue }}
      </p>
      <p>
        New Value: {{ timeline.newvalue }}
      </p>
    </div>
  </li>
</ul>
