<div>
  <h6 style="color: red">{{ infoMsg }}</h6>
</div>
<div style="width: 100%; text-align: center">
  <h1>Equipment</h1>
</div>
<!-- Loader -->
<div *ngIf="progressLoader" class="loader">
  <div class="spinner"></div>
</div>
<div *ngIf="!progressLoader">
  <div class="tablegrid" style="width: 100%; height: 100%">
    <ejs-grid
      #cardgrid
      id="cardgrid"
      gridLines="Horizontal"
      [dataSource]="cards"
      allowSorting="true"
      allowPaging="true"
      allowTextWrap="true"
      [height]="520"
      [pageSettings]="pageSettings"
      [toolbar]="toolbar"
      [editSettings]="editSettings"
      [selectionSettings]="selectionOptions"
      [allowSelection]="true"
      [contextMenuItems]="contextMenuItems"
      (actionComplete)="actionComplete($event)"
      (rowSelected)="rowSelected($event)">
      <e-columns>
        <e-column field="id" headerText="ID" width="120" textAlign="Left" [visible]="false"></e-column>
        <e-column field='site' headerText='Site' width='120' textAlign='Left'    isPrimaryKey='true' ></e-column>
        <e-column field='roomlocation' headerText='Room' width='120' textAlign='Left'   isPrimaryKey='true'  ></e-column>
        <e-column field='cardtype' headerText='Card Type' width='120' textAlign='Left' isPrimaryKey='true'  ></e-column>
        <e-column field='cardlabelname' headerText='Equipment Name' width='120' textAlign='Left'   isPrimaryKey='true'   ></e-column>
        <e-column field='shelf' headerText='Shelf' width='120' textAlign='Left'  ></e-column>
        <e-column field='slot' headerText='Slot' width='120' textAlign='Left'  ></e-column>
        <e-column field='position' headerText='Position' width='120' textAlign='Left' ></e-column>
        <e-column field='dls' headerText='DLS' width='120' textAlign='Left'  ></e-column>
        <e-column field='capacity' headerText='Capacity' width='120' textAlign='Left' ></e-column>
        <e-column field='totalports' headerText='Total Ports' width='120'  textAlign='Left' ></e-column>
        <e-column field='comment' headerText='Comment' width='150' textAlign='Left'   ></e-column>
      </e-columns>
    </ejs-grid>
  </div>
</div>
