<ejs-maps id="maps" #maps height="400px" width="100%"
          [zoomSettings]="zoomSettings"
          [legendSettings]="legendSettings">
  <e-layers>
    <e-layer
      [dataSource]="dataSource"
      [shapePropertyPath]="shapePropertyPath"
      [shapeDataPath]="shapeDataPath"
      [shapeSettings]="shapeSettings"
      [shapeData]="shapeData"
      [navigationLineSettings]="navigationLineSettings"
      [markerSettings]="markerSettings"
      [tooltipSettings]="tooltipSettings"
    ></e-layer>
  </e-layers>
</ejs-maps>
