<div class="banner banner-page u-bg-gradient">
  <div class="banner-body">
    <div class="container">
      <h1 class="banner-heading h1"><span jhiTranslate="home.title"></span></h1>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-9 mx-auto">
    <div class="mt-5 text-center">
    @if (account() !== null) {
      <div class="alert alert-success">
        @if (account(); as accountRef) {
          <span id="home-logged-message"
            >Hello <b>{{ accountRef.firstName }}</b
            >, you are logged in username as <b>"{{ accountRef.login }}&quot;</b>.</span
          >
        }
      </div>
    } @else {
      <div class="alert alert-warning">
        <span>Please </span>
        <a class="alert-link" (click)="login()" jhiTranslate="global.messages.info.authenticated.link">sign in</a>
        <span> with your account username and password.</span>
      </div>

      <div class="alert alert-warning">
        <span jhiTranslate="global.messages.info.register.noaccount">You don&apos;t have an account yet?</span>&nbsp;
        <a class="alert-link" routerLink="/account/register" jhiTranslate="global.messages.info.register.link">Register a new account</a>
      </div>
    }
  </div>
  </div>
</div>
