<div class="modal-header border-bottom">
  <h5 class="modal-title fw-semibold" jhiTranslate="metrics.jvm.threads.dump.title">Threads dump</h5>
  <button type="button" class="btn-close" (click)="dismiss()"></button>
</div>

<div class="modal-body">
  <div class="d-flex flex-wrap gap-2 mb-4">
    <button class="btn btn-sm btn-outline-primary" (click)="threadStateFilter = undefined">
      <fa-icon *ngIf="threadStateFilter === undefined" icon="check" class="me-1"></fa-icon>
      All
      <span class="badge bg-dark ms-1">{{ threadDumpAll }}</span>
    </button>

    <button class="btn btn-sm btn-outline-success" (click)="threadStateFilter = ThreadState.Runnable">
      <fa-icon *ngIf="threadStateFilter === ThreadState.Runnable" icon="check" class="me-1"></fa-icon>
      Runnable
      <span class="badge bg-dark ms-1">{{ threadDumpRunnable }}</span>
    </button>

    <button class="btn btn-sm btn-outline-info" (click)="threadStateFilter = ThreadState.Waiting">
      <fa-icon *ngIf="threadStateFilter === ThreadState.Waiting" icon="check" class="me-1"></fa-icon>
      Waiting
      <span class="badge bg-dark ms-1">{{ threadDumpWaiting }}</span>
    </button>

    <button class="btn btn-sm btn-outline-warning" (click)="threadStateFilter = ThreadState.TimedWaiting">
      <fa-icon *ngIf="threadStateFilter === ThreadState.TimedWaiting" icon="check" class="me-1"></fa-icon>
      Timed Waiting
      <span class="badge bg-dark ms-1">{{ threadDumpTimedWaiting }}</span>
    </button>

    <button class="btn btn-sm btn-outline-danger" (click)="threadStateFilter = ThreadState.Blocked">
      <fa-icon *ngIf="threadStateFilter === ThreadState.Blocked" icon="check" class="me-1"></fa-icon>
      Blocked
      <span class="badge bg-dark ms-1">{{ threadDumpBlocked }}</span>
    </button>
  </div>

  @for (thread of getThreads(); track $index) {
    <div class="mb-4 p-3 border rounded shadow-sm bg-light-subtle">
      <div class="d-flex justify-content-between align-items-start flex-wrap">
        <div>
          <span class="badge" [ngClass]="getBadgeClass(thread.threadState)">
            {{ thread.threadState }}
          </span>

          <strong class="ms-2">
            {{ thread.threadName }}
          </strong>

          <span class="text-muted ms-2"> (ID {{ thread.threadId }}) </span>
        </div>

        <a class="small text-decoration-none" (click)="thread.showThreadDump = !thread.showThreadDump" href="javascript:void(0);">
          {{ thread.showThreadDump ? 'Hide Stacktrace' : 'Show Stacktrace' }}
        </a>
      </div>

      <div class="card mt-3" *ngIf="thread.showThreadDump">
        <div class="card-body bg-dark text-light small">
          @for (st of thread.stackTrace; track $index) {
            <div class="mb-1">
              <samp>
                {{ st.className }}.{{ st.methodName }} (<code>{{ st.fileName }}:{{ st.lineNumber }}</code
                >)
              </samp>
            </div>
          }
        </div>
      </div>

      <div class="table-responsive mt-3">
        <table class="table table-sm align-middle mb-0">
          <thead class="table-light">
            <tr>
              <th>Blocked Time</th>
              <th>Blocked Count</th>
              <th>Waited Time</th>
              <th>Waited Count</th>
              <th>Lock Name</th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <td>{{ thread.blockedTime }}</td>
              <td>{{ thread.blockedCount }}</td>
              <td>{{ thread.waitedTime }}</td>
              <td>{{ thread.waitedCount }}</td>

              <td class="text-truncate lock-column" style="max-width: 250px" [title]="thread.lockName">
                <code>{{ thread.lockName }}</code>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  }
</div>

<div class="modal-footer border-top">
  <button type="button" class="btn btn-secondary" (click)="dismiss()">Done</button>
</div>
