
<div style="display: flex; justify-content: center; align-items: center">
  <div
    id="chatui"
    ejs-chatui
    #chatUIComponent
    [user]="currentUserModel"
    [typingUsers]=""
    [messageToolbarSettings]="messageToolbarSettings"
    (messageSend)="onMessageSend($event)"
    cssClass="custom-container"
    headerIconCss="custom-bot-icon"
    headerText="Chatbot"
    width="80%"
    height="700px"
  >
    <e-messages>
      <e-message text="Hello! How can I help today?" [author]="botUserModel"></e-message>
    </e-messages>
  </div>
</div>
