<div class="dashboard-container">

  <div class="info-message" *ngIf="infoMsg">
    <h6>{{ infoMsg }}</h6>
  </div>

  <div class="dashboard-header">
    <h1>Dashboard</h1>
  </div>

  <div class="home-control-section">
    <ejs-dashboardlayout [allowResizing]='false' [cellAspectRatio]='aspectRatio' [cellSpacing]='cellSpacing' columns="2" id='default_dashboard'>
      <e-panels>

        <e-panel [col]="0" [row]="0" [sizeX]="1" [sizeY]="1">
          <ng-template #content>
            <div class="panel-header fancy-panel-header">
              <h2>
                Events Timeline
              </h2>

              <button ejs-button id="export" cssClass="e-info btn-export" (click)="toolbarClick()">
                Export
              </button>
            </div>


            <div hidden="true">
              <ejs-grid #eventgrid [allowExcelExport]="true" [dataSource]="timelines">
                <e-columns>
                  <e-column field='eventdate' format="dd-MMM-yy" headerText='Event Date' width='150'></e-column>
                  <e-column field='feature' headerText='Feature' width='150'></e-column>
                  <e-column field='operation' headerText='Operation' width='150'></e-column>
                  <e-column field='login' headerText='User' width='150'></e-column>
                  <e-column field='oldvalue' headerText='Old Value' width='500'></e-column>
                  <e-column field='newvalue' headerText='New Value' width='500'></e-column>
                </e-columns>
              </ejs-grid>
            </div>


            <div class="timeline-wrapper">
              <div *ngFor="let timeline of timelines" class="timeline-card">
                <div class="timeline-date text-muted">
                  {{ timeline.eventdate | date:'dd-MMM-yy hh:mm aa' }} : {{ timeline.operation }} {{ timeline.feature }}
                </div>

                <div class="timeline-boxes row">
                  <div class="col-sm-6">
                    <div class="timeline-box old-value">
                      <div class="box-title">
                        <fa-icon [icon]="['fas','asterisk']" class="text-success" [fixedWidth]="true"></fa-icon> Old Value
                      </div>
                      <div class="box-content">{{ timeline.oldvalue }}</div>
                    </div>
                  </div>

                  <div class="col-sm-6">
                    <div class="timeline-box new-value">
                      <div class="box-title">
                        <fa-icon [icon]="['fas','pencil']" class="text-info" [fixedWidth]="true"></fa-icon> New Value
                      </div>
                      <div class="box-content">{{ timeline.newvalue }}</div>
                      <div class="box-footer">{{timeline.operation}} By: {{timeline.login}}</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </ng-template>
        </e-panel>


        <e-panel [col]="1" [row]="1" [sizeX]="1" [sizeY]="1">
          <ng-template #content>
            <div class="map-panel">
              <syncfusion-worldmap></syncfusion-worldmap>
              <h3>Hawaiki - Sites</h3>
            </div>
          </ng-template>
        </e-panel>

      </e-panels>
    </ejs-dashboardlayout>
  </div>
</div>
