<div>
  <b>{{ infoMsg }}</b>

  <div align="center">
    <h3><b>Service Status</b></h3>
  </div>
</div>

<!-- Loader -->
<div *ngIf="progressLoader" class="loader">
  <div class="spinner"></div>
</div>

<div class="container-fluid" *ngIf="orders.length != 0 && !progressLoader; else noOrder">
  <div class="row g-1">
    <div class="col-12 col-md-4" *ngFor="let order of orders">
      <div class="card h-100 text-center p-1">
        <h5 class="card-title mb-1">Service #: {{ order.name }}</h5>
        <h6 class="card-subtitle mb-2 text-muted">Status: {{ order.status }}</h6>

        <div *ngIf="order.circuit; else noImage">
          <img [src]="imageType + order.circuit.toString()" class="img-fluid thumbnail" (click)="openImage(order)" alt="circuit" />
        </div>

        <ng-template #noImage>
          <div class="no-image-placeholder">
            <b>No circuit image available</b>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</div>

<ng-template #noOrder>
  <div align="center" class="no-image-placeholder" *ngIf="!progressLoader">
    <h3>No service available</h3>
  </div>
</ng-template>

<div align="center" class="image-modal" *ngIf="showImage" (click)="closeImage()">
  <div class="image-modal-content" (click)="$event.stopPropagation()">
    <button class="close-btn" (click)="closeImage()">✕</button>

    <!-- Bind to selectedImage -->
    <img [src]="selectedImage" class="modal-image" alt="circuit" />
  </div>
</div>
