<div class="container py-4">
  <b>{{ infoMsg }}</b>

  <div align="center">
    <h3><b>Customer Order</b></h3>
  </div>
</div>

<div class="container py-4">
  <input type="text" placeholder="Search by ..." [(ngModel)]="searchTerm" class="form-control me-2" />
  <button class="btn btn-primary" (click)="doSearch()">Search</button>
  <button class="btn btn-secondary ms-2" (click)="resetSearch()">Reset</button>
</div>

<!-- Loader -->
<div *ngIf="progressLoader" class="loader">
  <div class="spinner"></div>
</div>

<div class="container py-4" *ngIf="!progressLoader">
  <table class="table table-striped">
    <thead>
      <tr>
        <th [hidden]="true">ID</th>
        <th (click)="sort('entityName')">
          Customer Name
          <span *ngIf="sortColumn === 'entityName'">
            {{ sortDirection === 'asc' ? '▲' : '▼' }}
          </span>
        </th>
        <th (click)="sort('name')">
          Service Name
          <span *ngIf="sortColumn === 'name'">
            {{ sortDirection === 'asc' ? '▲' : '▼' }}
          </span>
        </th>
        <th (click)="sort('status')">
          Status
          <span *ngIf="sortColumn === 'status'">
            {{ sortDirection === 'asc' ? '▲' : '▼' }}
          </span>
        </th>
        <th>Duration (lease in years)</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let order of pagedData">
        <td [hidden]="true">{{ order.id }}</td>
        <td>{{ order.entityName }}</td>
        <td>{{ order.name }}</td>
        <td>{{ order.status }}</td>
        <td>{{ order.duration }}</td>
        <td>
          <button class="btn btn-info btn-sm" [routerLink]="['../order/e/id', order.id]">
            <span class="d-none d-md-inline">Edit</span>
          </button>
          <button class="btn btn-info btn-sm" [routerLink]="['../order/d/id', order.id]">
            <span class="d-none d-md-inline">Delete</span>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <ejs-pager [pageSize]="pageSize" [totalRecordsCount]="totalRecords" [pageCount]="5" (click)="pageChanged($event)"> </ejs-pager>
  <div align="left">
    <button class="btn btn-primary" [routerLink]="['../order/c']">Create New Order</button>
  </div>
</div>
